.box1 {
    height: 100px;
    width: 100px;
    border: 1px solid;
    background-color: aqua;
}

.content{
    color: aqua;
}

.newClass{
    background-color: bisque;
}

para.classList.add("newClass");